html, body {
	font-family: monospace;
	cursor: url('cursor.svg') 0 0, auto;
	background-color: #0E0E0E;
}

h1 {
	font-size: 1.5em;
	color: #686E7A;
}

pre {color: #686E7A;}

.ascii {
	white-space: pre; 
	line-height: 1;
	color: #686E7A;
	display: block;
	margin: 0 auto;
}

header{
	margin: 1.8rem 0;
	padding: 1rem;
	color: #686E7A;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: left;
	margin: 0 auto;
}

footer{
	margin: 1.8rem 0;
	padding: 1rem;
	color: #686E7A;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

button {
	background: #1e1e1e;
	color: #eaeaea;
	border: 1px solid #333;
	padding: 8px 12px;
	cursor: pointer;
}

button:hover {
	background: #2a2a2a;
}

.Btn{
	padding: 10px 15px;
	background: #111;
	border: 1px solid #555;
	cursor: pointer;
	border-radius: 5px;
}

.Btn:hover {
	background: #333;
}

a {text-decoration: none; color: #686E7A;}
a:hover {text-decoration: underline; color: #686E7A;}

canvas {
	display: block;
}

#tuktuk {
    display: flex;
    gap: 20px;
    padding: 20px;
}

#viewer-container {
    flex: 1;
    height: 600px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

#viewer {
    width: 100%;
    height: 100%;
}

#ui {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

#texto-lateral {
    flex: 1;
    padding: 20px;
    color: #eee;
    border-radius: 10px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #111;
  border-left: 2px solid #444;
}

::-webkit-scrollbar-thumb {
  background: #686E7A;
  border: 2px solid #444;
  box-shadow: inset 0 0 0 2px #111;
}

@media (max-width: 900px) {
    	#tuktuk {
        	flex-direction: column;
    	}

	#viewer-container {
		height: 400px;
	}
}
